.untiselection {
  display: flex;
  column-gap: 20px;
  box-sizing: border-box;
  align-items: center;
  height: 25em;
}
.buttonSection {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1800px) {
  .untiselection {
    justify-content: center;
    height: fit-content;
  }
  .svgC {
    width: 19px;
    height: 10z;
  }
}
