.container {
  position: relative;
  width: 1fr;
  height: fit-content;
}

.wrapper {
  transition: all 0.3s var(--transition);
  background-color: white;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  font-size: 16px;
  font-weight: 300;
  &:focus {
    transition: all 0.3s var(--transition);
    outline: none;
    background-color: rgb(248, 247, 247);
    border-color: rgba(0, 0, 0, 0);
  }
}
.button {
  transform: scale(1);
  position: absolute;
  background-color: transparent;
  border: none;
  right: 10px;
  bottom: 16px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
