.container {
  width: 18em;
  height: fit-content;
  background-color: rebeccapurple;
}
.wrapper {
  position: relative;
  background-color: white;
  width: 18em;
  height: 25em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  padding: 50px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05),
    0 0 20px rgba(255, 255, 255, 0.3);
  &:hover {
    cursor: pointer;
  }
}
.unselected {
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform: rotateY(360deg);
  height: 23em;
  opacity: 0.5;
  &:hover {
    opacity: 0.7;
  }
}
.unitTitle {
  background-color: var(--finedblue);
  padding: 10px 17px;
  display: flex;
  width: fit-content;
  border-radius: 20px;
  align-items: center;
  column-gap: 7px;
  color: white;
  font-weight: 550;
  font-size: 1.1rem;
}
.topicsCoveredText {
  color: var(--black1);
  font-size: 1.2rem;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: fit-content;
}
.line {
  width: 175px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}
.topic {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-size: 1.1rem;
}
.complete {
  color: var(--finedgreen);
}

.completed {
  position: absolute;
  right: -1.5em;
  top: 1.6em;
  display: flex;
  align-items: center;
  column-gap: 6px;
  width: 10em;
  height: 1em;
  &::before {
    position: relative;
    content: "";
    width: 1.3em;
    height: 1.3em;
    background-image: url(/assets/status/complete.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    content: "Completed";
    font-size: 1.1rem;
    color: var(--finedgreen);
  }
}
.notstarted {
  position: absolute;
  right: -1.5em;
  top: 1.6em;
  display: flex;
  align-items: center;
  column-gap: 6px;
  width: 10em;
  height: 1em;
  &::before {
    position: relative;
    content: "";
    width: 1.3em;
    height: 1.3em;
    background-image: url(/assets/status/notstarted.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    content: "Not Started";
    font-size: 1.1rem;
    color: gray;
  }
}
.inprogress {
  position: absolute;
  right: -1.5em;
  top: 1.6em;
  display: flex;
  align-items: center;
  column-gap: 6px;
  width: 10em;
  height: 1em;
  &::before {
    position: relative;
    content: "";
    width: 1.3em;
    height: 1.3em;
    background-image: url(/assets/status/inprogress.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    content: "In Progress";
    font-size: 1.1rem;
    color: var(--finedblue);
  }
}
