.wrapper {
  transition: all 0.3s var(--transition);
  position: relative;
  background-color: white;
  width: 18em;
  height: 25em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  padding: 55px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05),
    0 0 20px rgba(255, 255, 255, 0.3);
  &:hover {
    cursor: pointer;
  }
}
.unselected {
  transition: all 0.3s var(--transition);
  height: 23em;
  opacity: 0.8;
  &:hover {
    opacity: 0.9;
  }
}
.unitTitle {
  background-color: var(--finedblue);
  padding: 10px 17px;
  display: flex;
  width: fit-content;
  border-radius: 20px;
  align-items: center;
  column-gap: 7px;
  color: white;
  font-weight: 550;
  font-size: 1.1rem;
}
.topicsCoveredText {
  color: var(--black1);
  font-size: 1.2rem;
}
.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 10px;
}
.line {
  width: 175px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}
.topic {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-size: 1.1rem;
}

/* This is for the top indicator which indicates where they are on that unit (not the individual lessons) */

.topIndicator {
  position: absolute;
  right: 1.5em;
  top: 1.3em;
  display: flex;
  align-items: center;
  column-gap: 6px;
  width: fit-content;
  height: fit-content;
  font-size: 1.1rem;
  &::before {
    position: relative;
    content: "";
    width: 1.3em;
    height: 1.3em;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.completed {
  &::before {
    background-image: url(/assets/status/complete.svg);
  }
  &::after {
    content: "Completed";
    color: var(--finedgreen);
  }
}
.notstarted {
  &::before {
    background-image: url(/assets/status/notstarted.svg);
  }
  &::after {
    content: "Not Started";
    color: gray;
  }
}
.inprogress {
  &::before {
    background-image: url(/assets/status/inprogress.svg);
  }
  &::after {
    content: "In Progress";
    color: var(--finedblue);
  }
}
.locked {
  column-gap: 4px;
  &::before {
    background-image: url(/assets/status/locked.svg);
  }
  &::after {
    content: "Not Released";
    color: gray;
  }
}
.lockedWrapper {
  opacity: 0.4;
  &:hover {
    cursor: not-allowed;
    opacity: 0.4;
  }
  .unitTitle {
    background-color: rgb(168, 168, 168);
  }
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 12px;
  width: fit-content;
}
.label {
  white-space: nowrap;
}
/* These are for the topics that are displayed in the content section (not top right) */
.topicDefault {
  position: relative;
  display: flex;
  align-items: center;
  width: 10em;
  height: 1em;
  font-weight: 550;
  font-size: 1.1rem;
  padding-left: 1.5em;
  &:before {
    left: 0;
    position: absolute;
    content: "";
    width: 1.2em;
    height: 1.2em;
    background: url(/assets/status/notstarted.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.completedTopic {
  color: var(--finedgreen);
  &::before {
    background-image: url(/assets/status/complete.svg);
  }
}
.inprogressTopic {
  color: var(--finedblue);
  &::before {
    background-image: url(/assets/status/inprogress.svg);
  }
}
.notStartedTopic {
  color: gray;
  &::before {
    background-image: url(/assets/status/notstarted.svg);
  }
}
@media only screen and (max-width: 1200px), (max-height: 800px) {
  .wrapper {
    height: 21em;
    width: 15em;
  }
  .unselected {
    height: 20em;
  }
  .unitTitle {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  .topIndicator {
    font-size: 1rem;
  }
  .topic {
    font-size: 0.3rem;
  }
  .topicDefault {
    font-size: 1rem;
  }
  .topicsCovered {
    font-size: 0.3rem;
    &::before {
      width: 0.9em;
      height: 0.9em;
    }
  }
}
