.container {
  position: absolute;
  left: 14em;
  top: 1.5em;
  width: 3em;
  height: 16em;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s var(--transition);
  display: flex;
  align-items: end;
}
.wrapper {
  position: absolute;
  left: -5em;
  padding: 20px;
  box-sizing: border-box;
  width: 30em;
  height: fit-content;
  border-radius: 10px;
  background-color: white;
  border: 1px var(--bb) solid;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.show {
  visibility: visible;
  display: flex;
  transform: translateY(20px);
  transition: 0.1s var(--transition);
  opacity: 1;
}
.title {
  cursor: pointer;
}
.title_svg {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--finedblue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_wrapper {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.contactItem {
  display: flex;
  flex-grow: 1 0;
  height: 2.6em;
  background-color: var(--inputcolor);
  border: 1px solid var(--inputborder);
  color: var(--black2);
  border-radius: 10px;
  padding: 0px 20px;
  align-items: center;
  column-gap: 7px;
}
.contactList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.contactItemWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: var(--black2);
}
