.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.videoHotbar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  background-color: white;
  border: none;
  padding: 0;
  &:hover {
    cursor: pointer;
    background-color: var(--inputcolor);

    .svgFill {
      fill: var(--black3);
    }
  }
}

.rightAlignedButton {
  border-right: 1px solid var(--bb);
}
.leftAlignedButton {
  border-left: 1px solid var(--bb);
}
.progress_Wrapper {
  display: flex;
  flex-grow: 1;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.videoHotbar {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-top: 1px solid var(--bb);
}
.playVideo_wrapper {
  display: flex;
  flex-grow: 1;
  padding: 0px 20px 0px 20px;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  color: gray;
}
.progressBarContainer {
  display: flex;
  flex-grow: 1;
  height: 3px;
  background-color: var(--inputcolor);
}
.progressBarContainer {
  display: flex;
}
.currentProgress {
  width: 50%;
  height: 100%;
  background-color: var(--finedblue);
}
.audioModalWrapper {
  position: absolute;
  left: 0.5em;
  top: -2.3em;
}

.open {
  transition: all 0.3s var(--transition);
  opacity: 1;
}
.closed {
  transition: all 0.3s var(--transition);
  opacity: 0;
}
.videoWrapper {
  position: relative;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
}
@media only screen and (max-width: 1280px) {
  .wrapper {
    width: 40em;
  }
  .videoWrapper {
    height: fit-content;
  }
}
.timeContainer {
  color: var(--black3);
}
