.container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  width: 35em;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 25px 20px;
}
.topWrapper {
  display: flex;
  flex-grow: 1 0;
  height: fit-content;
  font-size: 1.2rem;
  justify-content: space-between;
}
.topWrapper_left {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.closeButton {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.submitWraper {
  transition: 0.3s var(--transition);
  background-color: var(--inputcolor);
  border: 1px var(--inputborder) solid;
  padding: 18px 20px;
  font-size: 1rem;
  border-radius: 5px;

  &::placeholder {
    color: var(--black4);
    font-size: 1rem;
  }
  &:focus {
    transition: 0.3s var(--transition);
    outline: none;
    background-color: rgba(0, 0, 0, 0.06);
  }
}
.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 1rem;
  flex-grow: 1 0;
  height: fit-content;
  color: var(--black2);
}
.submitButton {
  color: white;
  background-color: var(--finedblue);
  &:hover {
    background-color: rgba(var(--finedblueRGB), 0.8);
  }
}
.cancelButton {
  color: var(--black2);
  background-color: rgba(0, 0, 0, 0.05);
  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}
.inputButton {
  padding: 16px 30px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  &:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
}

.buttonContainer {
  display: flex;
  column-gap: 10px;
}
.svg {
  background-color: var(--finedblue);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.securityIndicatorWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-weight: 500;
}
