.fullPage {
  flex-direction: column;
  position: relative;
}
.viewport {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.heroContainer {
  display: flex;
  flex-grow: 1;
}
.left {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  flex-grow: 0 1;
  width: 40em;
  border-right: 1px var(--bb) solid;
  padding: 50px 30px 20px 60px;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}
.right {
  display: flex;
  flex-grow: 1;
  background-color: rgba(33, 34, 39, 0.4);
}
.title {
  font-size: 2.5rem;
  font-weight: 500;
}
.onTitle {
  font-weight: 550;
  margin-bottom: 1em;
  background-color: var(--finedblue);
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
}
.logoSpan {
  color: var(--finedblue);
  font-weight: 550;
}
.subtitle_Container {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  row-gap: 8px;
}
.subtitle {
  font-size: 1.2rem;
}
.subtitle_Paragraph {
  width: 80%;
  font-weight: 500;
  color: rgb(94, 94, 94);
  font-size: 1rem;
  padding: 18px 15px;
  border-radius: 5px;
  background-color: var(--inputcolor);
  border: 1px solid var(--inputborder);
}
.buttonContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.sub_and_button {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.info {
  width: 30em;
  height: fit-content;
  background-color: var(--inputcolor);
  border: 1px solid var(--inputborder);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  box-sizing: border-box;
  color: rgb(99, 99, 99);
}
.heroNote {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: var(--inputcolor);
  border: 1px var(--inputborder) solid;
  border-radius: 5px;
  left: 2em;
  bottom: 2em;
  color: var(--black3);
  font-size: 1rem;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  column-gap: 7px;
}
.videoContainer {
  width: 100%;
  height: 100%;
  object-fit: fill; /* This makes sure the video covers the entire container */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.offerContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.03);
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
}
.offerContainer_textLogo {
  color: rgb(140, 140, 140);
}
.offerContainer_left {
  display: flex;
  flex-direction: column;
}

.panelContainer {
  z-index: 10;
  position: absolute;
  bottom: 5em;
  right: 5em;
  width: 20em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 20em;
  flex-direction: column;
}
@media only screen and (max-height: 700px) {
  .heroNote {
    position: absolute;
    right: 2em;
    left: unset;
  }
}
