.modalContent {
  position: absolute;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  column-gap: 15px;
  width: 25em;
  height: 3.5em;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--black1);
  border-radius: 10px;
  top: 6em;
  font-weight: 400;
  overflow: hidden;
}
.shown {
  transition: opacity 0.3s var(--transition) 0.1s, top 0.3s var(--transition) 0s,
    right 0.3s var(--transition) 0s;
  opacity: 1;
  top: 6em;
  right: 2em;
}
.hidden {
  transition: opacity 0.3s var(--transition) 0.1s, top 0.3s var(--transition) 0s,
    right 0.3s var(--transition) 0s;
  opacity: 0;
  right: -30em;
}
.svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3.3em;
  background-color: #ff4f4f;
}
