.sidebar {
  width: 20em;
  height: 100%;
  background-color: white;
  border-right: 1px rgba(0, 0, 0, 0.1) solid;
  transition: 0.1s cubic-bezier(0.215, 0.610, 0.355, 1);
  transform: translateX(0);
}

.sidebarhidden {
  transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1);
  transform: translateX(-101%);
  border: none;
  
}

.hidden-transitioned {
  display: none;
}
  .sidebarshown {
    transform: translate(0em);
  }