.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20.5em;
  height: 100%;
  background-color: white;
  border-right: 1px rgba(0, 0, 0, 0.1) solid;
  transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), width 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  transform: translateX(0);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  width: 20.5em;
}

.sidebarhidden {
  transform: translateX(-100%);
  border-color: transparent;
  width: 0;
  .top {
    transform: translateX(-100%);
  }
  .bottom {
    transform: translateX(-100%);
  }
}

.hiddenTransitioned {
  display: none;
}

.subtitle {
  height: 1em;
  font-size: .85rem;
  width: 85%;
  color: var(--black1);
}
.buttonGroup {
  margin-top: 1em;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 6px;
}

.bottom {
  display: flex;
  flex-direction: column;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
  width: 20.5em;
  height: fit-content;
  padding: 30px 20px;
  box-sizing: border-box;
  row-gap: 15px;
}