.searchBarWrapper {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    .text {
        position: absolute;
        display: flex;
        column-gap: 5px;
        margin: 0;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        color: #9c9c9c
    }
}
.searchBar {
    transition: 0.3s ease-in-out;
    background-image: url(/assets/search.svg);
    background-repeat: no-repeat;
    background-position: 1em;
    background-size: 1.2em;
    height: 2.7em;
    background-color: #F5F5F5;
    text-indent: 2.5em;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.03);
    &:focus {
        transition: 0.3s ease-in-out;
        background-color: #efefef;
        background-size: 0;
        text-indent: 1em;  
    }
    &::-webkit-search-cancel-button {
        margin-right: 1em;
    } 
}
.searchBar:focus ~ .text .buttonStyle {
    transform: translate(5em) scale(0);
}  

.searchBar::placeholder {
    color: rgba(0, 0, 0, 0.8);
}
.searchBar:focus::placeholder {
    color: var(--black3);
}
.buttonStyle {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    color: var(--black3)
}
