.continueButton {
  transition: all 0.3s var(--transition);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  width: 8em;
  height: 2.5em;
  border-radius: 5px;
  font-size: 1.1rem;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }
}
.inputSub {
  font-size: 0.9rem;
  color: gray;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.input {
  transition: all 0.3s var(--transition);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8em 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  height: 6.5em;
  resize: unset;
  &::placeholder {
    color: var(--black1);
  }
  &:focus {
    transition: all 0.3s var(--transition);
    outline: none;
    background-color: rgba(255, 255, 255, 1);
  }
}
.offScreen {
  transition: all 0.3s var(--transition);
  transform: translateX(-50em);
}
.onScreen {
  transition: all 0.3s var(--transition);
  transform: translateX(0);
}

.offScreenOther {
  transition: all 0.3s var(--transition);
  transform: translateX(50em);
}
.onScreenOther {
  transition: all 0.3s var(--transition);
  transform: translateX(0);
}
.otherInput {
  display: flex;
  width: fit-content;
  box-sizing: border-box;
  padding: 0.8em 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  height: fit-content;
}
