.container {
  width: 45em;
  padding: 20px;
  background-color: white;
  border: 1px var(--bb) solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  row-gap: 1em;
}
.headerWrapper {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  .svgWrapper {
    width: 36px;
    height: 36px;
    background-color: var(--finedblue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.headerLeft {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.2rem;
}
.progress {
  background-color: var(--finedblue);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
}
.progressContainer {
  display: flex;
  column-gap: 10px;
  flex-grow: 1 0;
}

/* Recent activity Section */

.recentActivityContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.RA_Header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.recentActivityWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 10px;
  height: fit-content;
  flex-grow: 1 0;
  background-color: var(--inputcolor);
  border: 1px solid var(--inputborder);
  border-radius: 10px;
}
.buttonWrapper {
  display: flex;
  flex-grow: 1 0;
  height: fit-content;
  column-gap: 10px;
}
.empty {
  display: flex;
  flex-grow: 1;
  height: 4em;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px rgba(0, 0, 0, 0.2) dashed;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: rgb(177, 177, 177);
}
