body {
    margin: 0;
}
:root {
    --finedblue: #3385FF;
    --offblack: #242424;
}

p {
    margin: 0;
    width: fit-content;
    height: fit-content;
    color: var(--offblack)
}

* {transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
font-family: "Inter Tight", sans-serif;}