body {
    margin: 0;
    height: 100vh;
}
:root {
    --finedblue: #3385FF;
    --black1: rgba(0, 0, 0, 0.9);
    --black2: rgba(0, 0, 0, 0.8);
    --black3: rgba(0, 0, 0, 0.6);
}

p {
    margin: 0;
    width: fit-content;
    height: fit-content;
    color: var(--black1)
}

* {
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    font-family: "Inter Tight", sans-serif;
    text-decoration: none;
}

.highlightedText {
    color: var(--finedblue);
    height: fit-content;
}

.pageContent {
    height: calc(100vh - 71px);
    background-color: #FAFAFA;
}

.viewport {
    height: 100vh;
    width: 100vw;
}