body {
    margin: auto;
    
}
.content {
    display: flex;
}
.soleContent {
    width: 100%;
    height: calc(100vh - 1px - 5.5em);
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}