.container {
  display: flex;
  height: 3em;
  padding: 0px 15px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  align-items: center;
}
.backToButton {
  transition: 0.3s var(--transition) all;
  padding: 6px 15px;
  height: fit-content;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: gray;
  &:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 242);
  }
}
