.bodyDash {
    width: calc(100vw - 20.5em);
    height: 100%;
    background-color: rgb(250, 250, 250);
}
.noSidebar {
    width: 100vw;
}
.banner {
    width: 100%;
    background-color: var(--finedblue);
    height: 5em;
}